footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.input-lg {
    height: 100px;
}

/* struggling to figure out how to get the content height to fill the page regardless of screen size.
I know I can set the height to an exact amount of pixels but if I want it to be able to resize regardless of viewport */
